@import "primeflex/primeflex"
@import "primeicons/primeicons.css"

@import "Fonts"
@import "Colors"
@import "Prime"

:root
  --font-family: 'Figtree', Roboto, sans-serif

html
  height: 100%

body
  font-family: 'Figtree', Roboto, sans-serif
  margin: 0
  height: 100%
  overflow: hidden

.height-100
  height: 100%

.width-100
  width: 100%

.sb-corner-tab
  background-color: var(--primary-color-border)

.sb-card
  border: 1px solid var(--primary-color-border)
  border-radius: 4px

.sb-table
  border-collapse: collapse
  font-size: 14px
  table-layout: auto
  width: 100%

  thead
    font-weight: 700
    background-color: var(--primary-color)

    td
      padding: 16px

  tbody
    tr
      vertical-align: baseline

      &:nth-child(even)
        backdrop-filter: brightness(0.94)

  td
    font-size: 16px
    padding: 8px 16px

    &:has(input), &:has(.sb-dropdown)
      padding: 8px 4px

    &:has(.p-checkbox)
      padding: 8px 16px

/*
 * The webkit-scrollbar rules are not standardized and don't work in browsers such as Firefox.
 * Therefore we keep it simple here and just give the scrollbar a little overhaul.
 */
::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-thumb
  background-color: var(--primary-color-border)
  border-radius: 8px
  background-clip: padding-box
