:root
  //--primary-color: #00E08F
  //--primary-color-text: #063339
  //--inverted-color-text: #bae1e6
  --primary-color: #19232b
  --secondary-color: #1b3154
  --primary-color-border: #42b5ac
  --primary-color-text: #c6cbcb

  --overlay-color: #1a2730
  --header-color: #283239

  --danger-color: #df5b5f
  --warning-color: #e69757
  --success-color: #83dd68
  --info-color: #538dea
  --inverted-color-text: #c8d7da
