:root
  //--primary-color: #00E08F
  //--primary-color-text: #063339
  //--inverted-color-text: #bae1e6
  --primary-color: #1f252b
  --primary-color-border: #42b5ac
  --primary-color-text: #7d8888

  --dock-background-color: #283239
  --danger-color: #df5b5f
  --success-color: #83dd68
  --inverted-color-text: #c8d7da
